/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1D2021;
    background-alt: #282c2eff;
    foreground:     #EA6962;
    selected:       #7DAEA3;
    active:         #98C379FF;
    urgent:         #E06C75FF;
}
