/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #190E2E;
    background-alt: #281b3f;
    foreground:     #FF687B;
    selected:       #587085;
    active:         #98C379FF;
    urgent:         #E06C75FF;
}
